/*==================================================
                    FOOTER
==================================================*/

.footer{

    background:#090909;

    border-top:1px solid rgba(255,255,255,.06);

    padding:80px 8% 35px;

    margin-top:120px;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:60px;

    max-width:1500px;

    margin:auto;

}

.footer-column{

    display:flex;

    flex-direction:column;

}

.footer-logo{

    width:180px;

    margin-bottom:30px;

}

.footer-column h3{

    color:#c6ff00;

    font-size:.75rem;

    letter-spacing:5px;

    margin-bottom:28px;

    font-family:'Arial Narrow',sans-serif;

}

.footer-column p{

    color:#cfcfcf;

    line-height:1.9;

    margin-bottom:14px;

    font-size:.96rem;

}

.footer-column a{

    color:#ffffff;

    text-decoration:none;

    margin-bottom:14px;

    transition:.3s;

}

.footer-column a:hover{

    color:#c6ff00;

    padding-left:6px;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:60px;

    padding-top:25px;

    text-align:center;

    color:#8d8d8d;

    font-size:.85rem;

    letter-spacing:2px;

}

/*==========================
        RESPONSIVE
===========================*/

@media(max-width:1100px){

.footer-container{

grid-template-columns:repeat(2,1fr);

gap:50px;

}

}

@media(max-width:700px){

.footer{

padding:60px 30px;

}

.footer-container{

grid-template-columns:1fr;

gap:40px;

}

.footer-logo{

width:150px;

}

.footer-bottom{

font-size:.75rem;

line-height:1.8;

}

}