/*======================================================
                    FOOTER
======================================================*/

.footer{

    background:#090909;

    padding:90px 8% 35px;

    border-top:1px solid rgba(255,255,255,.06);

}

.footer-container{

    max-width:1500px;

    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1fr;

    gap:90px;

}

.footer-brand{

    display:flex;

    flex-direction:column;

}

.footer-logo{

    width:150px;

    margin-bottom:25px;

}

.footer-brand h2{

    color:#d6ff00;

    font-size:2rem;

    font-weight:900;

    letter-spacing:2px;

    margin-bottom:25px;

}

.footer-brand p{

    color:#d8d8d8;

    line-height:1.9;

    font-size:1rem;

    max-width:470px;

}

.footer-tags{

    display:flex;

    gap:12px;

    margin-top:30px;

}

.footer-tags span{

    padding:9px 18px;

    border:1px solid #bfff00;

    border-radius:25px;

    color:white;

    font-size:.72rem;

    letter-spacing:2px;

    font-weight:700;

    transition:.3s;

}

.footer-tags span:hover{

    background:#c6ff00;

    color:#000;

}

.footer-links{

    display:flex;

    flex-direction:column;

}

.footer-links h3{

    color:white;

    font-size:.75rem;

    letter-spacing:4px;

    margin-bottom:28px;

    font-family:"Arial Narrow",sans-serif;

}

.footer-links a{

    color:white;

    text-decoration:none;

    margin-bottom:15px;

    transition:.3s;

}

.footer-links a:hover{

    color:#c6ff00;

    padding-left:8px;

}

.footer-links p{

    color:white;

    margin-bottom:10px;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:70px;

    padding-top:28px;

    text-align:center;

    color:#888;

    letter-spacing:2px;

    font-size:.92rem;

}

.footer-bottom strong{

    color:white;

}

/*======================================================
                    RESPONSIVE
======================================================*/

@media(max-width:1100px){

.footer-container{

grid-template-columns:repeat(2,1fr);

gap:60px;

}

}

@media(max-width:768px){

.footer{

padding:70px 30px;

}

.footer-container{

grid-template-columns:1fr;

gap:45px;

}

.footer-logo{

width:120px;

}

.footer-tags{

flex-wrap:wrap;

}

}