/*====================================
        heros
====================================*/

.hero-premium{
    width:100%;
    min-height:260px;
    padding:130px 50px 70px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    gap:40px;
}

.hero-left{
    max-width:700px;
}

.hero-topline{
    color:#c6ff00;
    font-size:0.72rem;
    letter-spacing:7px;
    margin-bottom:20px;
    font-weight:700;
}

.hero-left h1{
    font-size:5.8rem;
    line-height:0.9;
    font-weight:900;
    letter-spacing:-3px;
    color:#f1f1f1;
}

.hero-left h1 span{
    color:#c6ff00;
}

.hero-right{
    max-width:480px;
    color:#8f9685;
    font-size:1.5rem;
    line-height:1.6;
    text-align:left;
    padding-bottom:15px;
}