/* ==========================================================
   RESPONSIVE
========================================================== */

.hamburger{

    display:none;

}

@media(max-width:900px){

.navbar{

    padding:15px;

}

.navbar-links{

    display:none;

}

.navbar-links.show{

    display:flex;

    position:absolute;

    top:75px;

    right:15px;

    width:260px;

    background:#111;

    flex-direction:column;

    padding:20px;

    border-radius:10px;

}

.hamburger{

    display:flex;

    flex-direction:column;

    gap:5px;

    cursor:pointer;

}

.hamburger span{

    width:28px;

    height:3px;

    background:white;

}

}