/*==========================================================
                    RESPONSIVE
==========================================================*/

/*==========================
        NAVBAR
===========================*/

.hamburger{
    display:none;
}

/*==========================
        PANTALLAS MEDIANAS
===========================*/

@media(max-width:1400px){

    .market-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

/*==========================
        TABLETS Y MÓVILES
===========================*/

@media(max-width:900px){

    /* NAVBAR */

    .navbar{
        padding:15px;
    }

    .navbar-links{

        display:none;

        position:absolute;

        top:70px;

        right:10px;

        background:rgba(0,0,0,.95);

        flex-direction:column;

        padding:20px;

        border-radius:10px;

        gap:18px;

        width:270px;

    }

    .navbar-links.show{
        display:flex;
    }

    .hamburger{

        display:flex;

        flex-direction:column;

        gap:5px;

        cursor:pointer;

    }

    .hamburger span{

        width:28px;

        height:3px;

        background:white;

        border-radius:3px;

    }

    /* HERO */

    .hero-content{

        padding:140px 25px 100px;

    }

    .hero-title{

        font-size:4.5rem;

        line-height:.92;

    }

    .hero-buttons{

        flex-direction:column;

        align-items:flex-start;

    }

    .btn-primary,
    .btn-secondary{

        width:100%;

    }

    /* MERCADO */

    .market-section{

        padding:100px 25px;

    }

    .market-grid{

        grid-template-columns:1fr;

    }

    .market-header h2{

        font-size:3rem;

    }

    /* LOGO */

    .floating-logo{

        left:15px;

        top:4px;

    }

    .floating-logo img{

        height:44px;

    }

    /* FOOTER */

    .footer-container{

        grid-template-columns:1fr;

        gap:45px;

    }

}